<h1> Human Resources</h1>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<form action="http://google.com">
    <a href="#/hr-add-ann" class="btn btn-primary btn-lg active" role="button">Create Announcement</a>
    <a href="#/hr-ann-edit" class="btn btn-primary btn-lg active" role="button">Edit Current Announcement</a>
    <a href="#/hr-page-edit" class="btn btn-primary btn-lg active" role="button">Edit Current Page</a>
</form>
</br>


<div class="announcement-panel">
<h3> CURRENT ANNOUNCEMENT </h3>
<h4 >{{vm.ann[1]}}</h4>
<h5 >{{vm.ann[2]}}</h5>
    <h6 >{{vm.ann[3]}}</h6>
</div>

</br>
<div ng-if="vm.page_data !=NULL">
    <h3>{{vm.page_data[5]}}</h3>
    <p> {{vm.page_data[7]}}</p>
    </br>
    <img ng-src="{{vm.page_data[2]}}"></img>
    </br>
    <video width="320" height="240" controls>
        <source ng-src="{{}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </br>
    <div ng-bind-html="dbBindHtml">
    </div>
</div>
