
<h1> Human Resources</h1>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<form action="http://google.com">
    <a href="/hr-add-ann" class="btn btn-primary btn-lg active" role="button">Create Announcement</a>
    <a href="/announcement-edit/0" class="btn btn-primary btn-lg active" role="button">Edit Current Announcement</a>
    <a href="/page-edit/1" class="btn btn-primary btn-lg active" role="button">Edit Current Page</a>
</form>
</br>


<div class="announcement-panel">
<h3>Announcements</h3>
</br>
<h4 >{{vm.ann.heading}}</h4>
<h5 >{{vm.ann.content}}</h5>
    <h6 >{{vm.ann.date_created}}</h6>
</br>
</div>

</br>

<!-- Page content  -->
<!-- Displayed if vm.page_data is available, and ng-if to display correct theme (vm.page_data.theme)  -->
<div ng-if="vm.page_data !=NULL">
    <div ng-if="vm.page_data.theme == 1">
        <h3 id="t1_heading_01">{{vm.page_data.heading_01}}</h3>
        <p id="t1_body_01"> {{vm.page_data.body_01}}</p>
        </br>
        <img id="t1_img_01" ng-src="{{vm.page_data.img_01}}"></img>
        </br>
        <h3>{{vm.page_data.heading_02}}</h3>
        </br>
        <div class="body-img-section">
                <div class="left-container-sect">
                    <p ng-if="vm.page_data.body_02 != null"id="t1_body_02"> {{vm.page_data.body_02}}</p>
                </div>
                <div class="right-container-sect">
                    <img ng-if="vm.page_data.body_02" id="t1_img_02" ng-src="{{vm.page_data.img_02}}"></img>
                </div>
            <div style="clear: both;"></div>
        </div>
    </br>
        <!-- <p ng-if="vm.page_data.body_02 != null"id="t1_body_02"> {{vm.page_data.body_02}}</p> -->

        <video ng-if="vm.page_data.video_01 != null" id="t1_video_01" controls>
            <source ng-src="{{vm.page_data.video_01 | trusted}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        </br>
        <iframe id="calendar-one" class="calendar-frame" ng-src="{{vm.cal}}"></iframe>

    </div>




    <div ng-if="vm.page_data.theme == 2">
        <h3 id="t2_heading_01">{{vm.page_data.heading_01}}</h3>
        <div class="body-img-section">
            <div class="left-container-sect">
                <img id="t2_img_01" ng-src="{{vm.page_data.img_01}}"></img>
            </div>
            <div class="right-container-sect">
                <p id="t2_body_01"> {{vm.page_data.body_01}}</p>
            </div>
            <div style="clear: both;"></div>
        </div>
        <h3 id="t2_heading_02">{{vm.page_data.heading_02}}</h3>
    </br>
    </br>
        <video ng-if="vm.page_data.video_01 != null" id="t2_video_01" width="320" height="240" controls>
            <source ng-src="{{vm.page_data.video_01 | trusted}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        </br>
        <p id="t2_body_02"> {{vm.page_data.body_02}}</p>
        <img id="t2_img_02" ng-src="{{vm.page_data.img_02}}"></img>

        <iframe id="calendar-one" class="calendar-frame" src="{{vm.cal}}"></iframe>


    </div>



</div>
