@import url("./fonts.css");

body {
  background-image: url("../img/stock04.jpg");

}

h1{
  color:white;
  font-size:48px;
  padding-right: 10px;
  /*To make the title look 3D*/
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

label{
  padding-right: 50px;
  font-size: 30px;
}

/*placeholder text*/
::-webkit-input-placeholder {
   font-family:'Cabin-Bold';
   font-size:18px;
   color:#575757;
}

:-moz-placeholder { /* Firefox 18- */
  font-family:'Cabin-Bold';
  font-size:18px;
  color:#575757;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family:'Cabin-Bold';
  font-size:18px;
  color:#575757;
}

:-ms-input-placeholder {
  font-family:'Cabin-Bold';
  font-size:18px;
  color:#575757;
}

.login-button{
  width:15%;
  background-color:rgba(204, 204, 204, 0.1);
  font-family:'Cabin-Medium';
  border-color:#999FA1;
}

.login-container{
  margin: 20px;
  margin-top:50px;
  padding: 200px;
  text-align: center;
  font-family:'Cabin-Bold'
}

.passbox{
  margin-right: 3px;

}

.textbox{
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  border-color:#999FA1;
  border-width:1px;
  color:black;
  outline:none;
  height:40px;
  width:45%;
  transition:height 1s;
  -webkit-transition:height 1s;
}

#login-password{
  background-color:rgba(255,255,255,0.5);
}
