
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alerts</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/alerts.css">
  </head>
  <body>
    <div class="alert-container">
        <h1>Alerts</h1>
        <br>
        <form ng-submit="vm.submit()">
          <div class="form-group">
            <label for="to">To:</label>
            <input class="textbox" type="text" ng-model="to" class="form-control" id="to" placeholder="example@assessor.lacounty.gov, example2@assessor.lacounty.gov, ...">
            <br></br>
            <label class="subject" for="subject">Subject:</label>
            <input class ="subject textbox" type="text" ng-model="subject" class="form-control" id="subject" placeholder="Subject">
            <br></br>
            <label class="body" for="body">Body:</label>
            <textarea class="textarea form-control" ng-model="body" id="body"></textarea>

          <div class="alert-types">
              <label ng-repeat="alertType in alerts">
              <input
                type="checkbox"
                name="selectedAlerts[]"
                value="{{alertType}}"
                ng-checked="vm.selection.indexOf(alertType) > -1"
                ng-click="toggleSelection(alertType)"
              > {{alertType}}
              </label>
          </div>

          </div>
          <button type="submit" class="alert-button btn btn-default">Submit</button>
        </form>
      </div>
  </body>
</html>
<!--
<h1>Alerts</h1>
<br>
<form ng-submit="vm.submit()">
  <div class="form-group">
    <label for="to">To:</label>
    <input type="text" ng-model="to" class="form-control" id="to" placeholder="example@assessor.lacounty.gov, example2@assessor.lacounty.gov, ...">
    <label for="subject">Subject:</label>
    <input type="text" ng-model="subject" class="form-control" id="subject" placeholder="Subject">
    <label for="body">Body:</label>
    <textarea class="form-control" ng-model="body" id="body"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
-->
