<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Forms</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./hr/hrtheme.css">
    <!-- Lato Font -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="">
<!--FORMS INTRO -->
	  <div id = "management_row" class="row">
	  	<h1 align="center" id="management_header"><strong>Forms</strong></h1>
	  </div>

<!-- LIST OF FORMS -->

	  <div class="row">
      <div class = "col-md-3">
        <h3><strong>Vehicle Forms</strong></h3>
        <div class="list-group">
          <a href="#" class="list-group-item">Carpool Information Form</a>
          <a href="#" class="list-group-item">Parking Information Form</a>
          <a href="#" class="list-group-item">Mileage Reimbursement Program</a>
          <a href="#" class="list-group-item">Attachment B: Report of Vehicle Collision or Incident</a>
          <a href="#" class="list-group-item">Attachment B: Reimbursement Claim - Damages to Vehicle</a>
          <a href="#" class="list-group-item">Attachment B: Certification and Assignment</a>
          <a href="#" class="list-group-item">Attachment B: Witness Statement</a>
          <a href="#" class="list-group-item">Attachment C: Notice of Self-Insurance</a>
          <a href="#" class="list-group-item">Attachment D: Certification</a>
          <a href="#" class="list-group-item">Mileage Claim Worksheet</a>
          <a href="#" class="list-group-item">Mileage Classification Form</a>
        </div>
      </div>

      <div class = "col-md-3">
        <h3><strong>Payment Forms</strong></h3>
        <div class="list-group">
          <a href="#" class="list-group-item">Overtime Authorization Form</a>
          <a href="#" class="list-group-item">Time Variance Form</a>
          <a href="#" class="list-group-item">2015 From W-4 Federal Withholding</a>
          <a href="#" class="list-group-item">2016 From W-4 Federal Withholding</a>
          <a href="#" class="list-group-item">2015 From DE-4 Employee's State Withholding</a>
          <a href="#" class="list-group-item">2016 From DE-4 Employee's State Withholding</a>
          <a href="#" class="list-group-item">Direct Deposit Authorization Form & Instructions</a>
          <a href="#" class="list-group-item">Lump Sum Check Delivery Form</a>
        </div>
      </div>

      <div class = "col-md-3">
        <h3><strong>Business Card Form</strong></h3>
        <div class="list-group">
          <a href="#" class="list-group-item">On Official Business Card (Used Outside the City of L.A.)</a>
          <a href="#" class="list-group-item">On Official Business Card (Used Within the City of L.A.)</a>
        </div>
      </div>

      <div class = "col-md-3">
        <h3><strong>Benefits Form</strong></h3>
        <div class="list-group">
          <a href="#" class="list-group-item">Health Care Provider Certification-Employee</a>
          <a href="#" class="list-group-item">Health Care Provider Certification-Employee's Family Member</a>
          <a href="#" class="list-group-item">Military Family Leave - Qualifying Exigency Form</a>
          <a href="#" class="list-group-item">Health Care Provider Certification- Military Family Leave</a>
          <a href="#" class="list-group-item">Request for Leave Donations- Represented Employees</a>
          <a href="#" class="list-group-item">Request for Leave Donations- Non-Represented Employees</a>
          <a href="#" class="list-group-item">Authorization to Donate Leave Form - Represented</a>
          <a href="#" class="list-group-item">Authorization to Donate Leave Form - Non-Represented</a>
        </div>
      </div>

	  </div>

	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
