<h1> {{vm.page_data[1]}} Page Admin</h1>
<link rel="stylesheet" href="./css/page-editor-style.css">

<h3>Edit Page </h3>



<form ng-submit="vm.update_page()">
    <div ng-if="vm.editorVal == 1">
        <div class="form-group">
            <label for="pageURL">PAGEURL:</label>
            <input type="text" ng-model="vm.url" class="form-control line-text" placeholder="sampleurl">
        </div>
        <div class="form-group">
            <label for="pageHeading">Page Heading 1:</label>
            <input type="text" ng-model="vm.heading_01" class="form-control line-text" id="ann-title" placeholder="Heading">
        </div>
        <div class="form-group">
            <label for="pageBody">Page Body 1:</label>
            <textarea class="form-control big-text" ng-model="vm.body_01"></textarea>
        </div>
        <div class="form-group">
            <label for="pagePhoto">Photo Link 1:</label>
            <input type="text" ng-model="vm.img_01" class="form-control line-text" id="ann-title" placeholder="Photo URL">
        </div>
        <div class="form-group">
            <label for="pageHeading">Page Heading 2:</label>
            <input type="text" ng-model="vm.heading_02" class="form-control line-text" id="ann-title" placeholder="Heading">
        </div>

        <div class="form-group">
            <label for="pageBody">Page Body 2:</label>
            <textarea class="form-control big-text" ng-model="vm.body_02"></textarea>
        </div>

        <div class="form-group">
            <label for="pagePhoto">Photo Link 2:</label>
            <input type="text" ng-model="vm.img_02" class="form-control line-text" id="ann-title" placeholder="Photo URL">
        </div>
        <div class="form-group">
            <label for="pagePhoto">Photo Link 3:</label>
            <input type="text" ng-model="vm.img_03" class="form-control line-text" id="ann-title" placeholder="Photo URL">
        </div>
        <div class="form-group">
            <label for="pageVideo">Video Link 1:</label>
            <input type="text" ng-model="vm.video_01" class="form-control line-text" id="ann-title" placeholder="Video URL">
        </div>
        <div class="form-group">
            <label for="pageVideo">Video Link 2:</label>
            <input type="text" ng-model="vm.video_02" class="form-control line-text" id="ann-title" placeholder="Video URL">
        </div>
        <div class="form-group">
            <label for="pageStyle">Style:</label>
            <input type="text" ng-model="vm.theme" class="form-control line-text" id="ann-title" placeholder="Style num">
        </div>
        <button type="submit" class="btn btn-default">Update</button>
    </div>


</form>


</br>
<a href="/#/hr">Back To HR Page</a>
