.parentMenuFlex {
	height: auto;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	height: 200px;
}
.logo {
	padding: 5px;
}
.header {
	height: auto;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	/*height: 100px;*/
	/*old
	background: #7474BF; /* fallback for old browsers */
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient( #7474BF , #348AC7);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera12+, Safari 7+ */
	background: linear-gradient( #7474BF , #348AC7);
	/*display: block;
	flex-basis: 100%;*/
	font-family: Montserrat,Helvetica,Arial,sans-serif;
	font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8;
}
.header-logo{
	flex-basis: 20%;
}
.header-links{
	display: flex;
	justify-content: flex-end;
	flex-basis: 80%;
}

.main-container{
	height: auto;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}

.sidebar-menu{
	flex-basis: 20%;
}
.main-content {
	/*padding-left:15px;*/
	background-color:#FBFBFB;
	display: block;
	flex-basis: 80%;
	flex-grow: 0;
	height: auto;
}

.link-element{
	text-align: center;
	padding: 20px;
	display: block;
}

.link-element a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
}
.link-element:hover  {
	border-width: 2px;
	border-color: white;
}

.menu-element {
	padding:20px;
}

.announcement-panel{
	background-color: #e1e1e1;
	padding:10px;
	margin:10px 0px 10px 0px;
}
